/* Jangan Didelete */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Mulai Code Disini */
a{
    text-decoration: none;
}

main{
    height: 100%;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

header nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: #003b46;
    color: #fff;
    align-items: center;
    padding: 0 30px;
}

.left-nav a{
    color: #fff;
    display: block;
    padding: 0 15px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 10vh;
}

.right-nav li{
    list-style: none;
    display: inline-block;
    margin-right: 10px;
}

.right-nav li a{
    color: #fff;
    display: block;
    line-height: 10vh;
    padding: 0 10px;
}

.top{
    height: 50vh;
    background-color: yellow;
}

/* Start Movie List - Fauzy */
.movie-list {
    margin: 20px;
    padding: 15px;
    overflow: auto;
    text-align: center;
}

.movie-list h2 {
    font-size: 32px;
    font-weight: bold;
}

hr {
    width: 250px;
    border: 1px solid black;
}

.movie-content {
    float: left;
    width: 20%;
    margin-top: 20px;
}

.movie-content h3 {
    margin-top: 10px;
}

.movie-content a {
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.movie-content a:hover {
    color: #3c6382;
}

.movie-content img {
    height: 300px;
    width: 200px;
    transition: 0.4s ease;
    box-shadow: 0 4px 20px 0 rgb(27, 17, 17);
    border-radius: 10px;
}

.movie-content img:hover {
    transform: scale(1.07);
}
/* End Movie List - Fauzy */

.group-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 15px;
}

.group{
    width: 100%;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
}

.personal{
    text-align: center;
    margin: 30px 40px;
    height: 250px;
    width: 30%;
    border: 1px solid #000;
    cursor: pointer;
}

.personal:hover{
    position: relative;
    bottom: 10px;
    box-shadow: 7px 7px 10px #000;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #003b46;
    color: #fff;
}
