/* Jangan Didelete */
*{
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #C4DFE6;
    max-width: 1170px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Mulai Code Disini */

a{
    text-decoration: none;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

header nav{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    background-color: #003b46;
    color: #fff;
    align-items: center;
    padding: 0 30px;
}

.left-nav a{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 15px;
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: bold;
    line-height: 10vh;
}

main{
	padding: 150px 0 100px 0;
}

.container{
	width: 75%;
    padding: 20px;
    margin: 0 auto;
    display: flex;
}

.movie-photo img{
    height: 500px;
    width: 400px;
	border: 1px solid #000;
	border-radius: 10px;
	margin-right: 20px;
}

.description{
	padding: 30px;
    width: 100%;
}

.title{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 25px;
}

.sinopsis{
	text-align: justify;
	overflow: auto;
	height: 350px;
	padding-right: 15px;
}

footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #003b46;
    color: #fff;
}

.logo-footer{
    display: flex;
    align-items: center;
}

.logo-footer p{
    margin-left: 10px;
    font-size: 24px;
}