@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Mulai Code Disini */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #C4DFE6;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

header nav {
    display: flex;
    height: 10vh;
    background-color: #003b46;
    padding: 0 45px;
}

.left-nav a {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 10vh;
}

.left-nav img {
    width: 50px;
    height: 50px;
}

main {
	padding: 100px 0;
}

.container {
    display: flex;
	width: 75%;
    padding: 20px;
    margin: 0 auto;
}

.movie-photo img {
    height: 500px;
    width: 400px;
	border: 1px solid #000;
	border-radius: 10px;
	margin-right: 20px;
}

.description {
	padding: 30px;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 25px;
}

.sinopsis {
    height: 350px;
	text-align: justify;
    padding-right: 15px;
	overflow: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #003b46;
    padding: 20px 40px;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.logo-footer img {
    width: 50px;
    height: 50px;
}

.logo-footer p {
    font-size: 24px;
    margin-left: 10px;
}

/* Untuk Tablet */
@media screen and (max-width: 1000px) {
    .container {
        width: 90%;
    }
}

/* Untuk Smartphone*/
@media screen and (max-width: 670px) {
    header nav {
        justify-content: center;
    }

    footer {
        padding: 10px;
    }

    .logo-footer img {
        width: 30px;
        height: 30px;
    }

    .logo-footer p {
        font-size: 18px;
    }

    .disclaimer {
        font-size: 14px;
    }

    .container{
        flex-direction: column;
        align-items: center;
    }

    .movie-photo img {
        width: 300px;
        height: 400px;
        margin-right: 0;
    }

    h1 {
        font-size: 25px;
    }
}