@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Mulai CSS Disini */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #C4DFE6;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
}

header nav {
    display: flex;
    height: 10vh;
    background-color: #003b46;
    padding: 0 45px;
}

.left-nav a {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 3px;
    line-height: 10vh;
}

.left-nav img {
    width: 50px;
    height: 50px;
}

.top {
    background-image: url("https://static.hollywoodreporter.com/sites/default/files/2012/11/movie_theater_interior_a_l.jpg");
    background-position: center;
    background-size: cover;
    height: 550px;
    color: #fff;
}

.top-content {
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.top-content h1 {
    font-family: 'Sofia', sans-serif;
    font-size: 90px;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 5px;
    padding-top: 100px;
}

.top-content h2 {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding-top: 40px;
}

.movies {
    text-align: center;
    margin: 20px;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

hr {
    width: 250px;
    border: 1px solid black;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-content {
    width: 25%;
    margin-top: 20px;
}

.movie-content h3 {
    margin: 30px 0 20px 0;
}

.movie-content a {
    color: black;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
}

.movie-content a:hover {
    color: #3c6382;
}

.movie-content img {
    height: 300px;
    width: 200px;
    transition: 0.4s ease;
    box-shadow: 0 4px 20px 0 rgb(27, 17, 17);
    border-radius: 10px;
}

.movie-content img:hover {
    transform: scale(1.07);
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 90px;
    margin-bottom: 15px;
}

.group-list {
    display: flex;
    justify-content: center;
}

.personal {
    width: 25%;
    height: 300px;
    text-align: center;
    background-color: #C4DFE6;
    padding: 20px;
    margin: 30px 40px;
    cursor: pointer;
    border: 2px solid #003b46;
    border-radius: 5px;
    box-shadow: 7px 7px 10px #07575b;
    transition: 0.5s ease;
}

.personal img {
    height: 150px;
    width: 150px;
    background-position: center;
    object-fit: cover;
    margin-bottom: 20px;
    border: 3px solid #003b46;
    border-radius: 50%;
}

.personal h3 {
    font-weight: bold;
    margin-bottom: 15px;
}

.personal:hover {
    transform: scale(1.07);
    box-shadow: 7px 7px 15px #064447;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: #003b46;
    padding: 20px 40px;
}

.logo-footer {
    display: flex;
    align-items: center;
}

.logo-footer img {
    width: 50px;
    height: 50px;
}

.logo-footer p {
    font-size: 24px;
    margin-left: 10px;
}

/* Untuk Tablet */
@media screen and (max-width: 1000px) {
    .movie-content {
        width: 30%;
    }

    .group-list {
        flex-wrap: wrap;
    }
}

/* Untuk Smartphone*/
@media screen and (max-width: 670px) {
    header nav {
        justify-content: center;
    }

    .top-content h1 {
        font-size: 60px;
        padding-top: 120px;
    }

    .top-content h2 {
        font-size: 35px;
    }

    .movie-content {
        width: 100%;
    }

    .personal {
        width: 50%;
    }

    footer {
        padding: 10px;
    }

    .logo-footer img {
        width: 30px;
        height: 30px;
    }

    .logo-footer p {
        font-size: 18px;
    }

    .disclaimer {
        font-size: 14px;
    }
}